.padding
{
	background-image: url(FondoAutor.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.padding2
{
	background-color: #FACC2E;
	text-align: center;
}

.padding3
{
	background-image: url(FondoInicio.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}